<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- application.css is where you put your styles -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <title>Music Wall</title>
</head>
<body>

  <nav class="orange accent-3">
    <div class="nav-wrapper container">
      <a href="/"><img class="left logo"src="images/play.png"></a>
      <ul class="right">
        <% if current_user %>
          Welcome back, <%= current_user.first_name %> <%#= current_user.last_name %>
          <a  id="power-off" href="/logout"><i class="fa fa-power-off fa-2x"></i></a>
          <!-- <img src="images/user.png" class="circle user-img"> -->
          <!-- <a class="waves-effect waves-orange white dark btn" href="/logout"><i class="fa fa-power-off"></i>Logout</a> -->
          <% else %>
            <% if @login_btn == "display" %>
              <a class="waves-effect waves-orange white dark btn" href="/login">Login</a>
            <% end %>
            <% if @register_btn == "display" %>
              <a class="waves-effect waves-orange white dark btn" href="/register">Sign Up</a>
            <% end %>
        <% end %>
        <% if @add_music == "display" %>
          <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 10px; right: 70px;">
            <a class="btn-floating btn-large waves-effect waves-light red" style="bottom: 45px; right: 24px;" href="/new"><i class="fa fa-plus"></i></a>
          </div>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="section">
      <%= yield %>
    </div>
  </div>
 
  <footer class="page-footer white">
    <div class="footer-copyright">
      <div class="container">
      <span class="dark">© 2016 Google Play</span>

      </div>
    </div>
  </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="/javascript/application.js"></script>
</body>
</html>



 