<% if @song && @song.errors.any? %>
  <div>
    <strong>Oops, you forgot something.</strong>
    <ul>
      <% @song.errors.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div id="add-music" class="row">
  <div id="new-music" class="col m6">
    <div class=" collection-item">
      <form id="top-form" action="/new", method="post">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="name" placeholder= "Name" value="<%= @song && @song.name %>">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="artist" placeholder="Artist" value="<%= @song && @song.artist %>">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="url" placeholder="SoundCloud URL" value="<%= @song && @song.url %>">
          </div>
        </div>
        
          <input type="submit" value="Submit" class="waves-effect waves-light orange accent-3 btn">
      </form>

    </div>
    <br><br><a class="dark-link" href="/"><i class="fa fa-arrow-left"></i> Go Back</a>
  </div>

  <div class="col m6">
    <img id="side-img" src="images/play-pic.png">
  </div>
</div>
<div class="clearfix"></div>